.custom-shape-divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .custom-shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 154px;
  }
  
  .custom-shape-divider-top .shape-fill {
    fill: #F5F4F2; /* background color of the section above */
  }

  .contact-footer-wrapper .custom-shape-divider-top .shape-fill {
    fill: var(--color-footer-bg);
  }